<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyQuotly</title>

    <link rel="stylesheet" type="text/css" href="/openai.css" />
    <style>
        :root {
            --bg: 255, 255, 255;
            --fg: 0,0,0;
        }

        .pane {
            --gradient-height: 280px;
        }

        @media (min-width: 720px) {
            .pane {
                --gradient-height: 400px;
            }
        }

        .jumbotron#recruiting {
            --fg: 255, 255, 255;
            --bg: 0, 0, 0;
        }

        .header-jumbotron {
            --fg: 255, 255, 255;
        }

        .jumbotron {
            position: relative;
            height: 100%;
            /*min-height: calc(100vh - var(--nav-height));*/
            min-height: 100vh;
            min-height: 100dvh;
        }

        .pane-grid {
            display: grid;
            flex-direction: row-reverse;
            grid-template-rows: 1fr 1fr;
            gap: 14px 28px;
            width: 93.3333333333%;
            max-width: 1470px;
            margin: 0 auto;
        }

        @media (min-width: 720px) {
            .pane-grid {
                grid-template-columns: 55fr 45fr;
                grid-auto-flow: row;
                grid-template-rows: 1fr;
            }
        }

        @media (min-width: 1280px) {
            .pane-grid {
                grid-template-columns: 65fr 35fr;
            }
        }

        .video-cover #recruiting-video-cover-wrap .fluidvids {
            /* reset video-cover fluidvids behavior */
            visibility: visible;
            position: unset;
            top: unset;
            z-index: unset;
        }

        #recruiting-cover {
            width: 177.777778vh !important;
        }

        @media (min-aspect-ratio: 16/9) {

            /* wider, shorter than 16/9 */
            #recruiting-cover {
                width: 100vw !important;
            }
        }

        /* modal */
        @keyframes fade-in-vis {
            0% {
                visibility: hidden;
                opacity: 0;
            }

            1% {
                visibility: visible;
                opacity: 0;
            }

            100% {
                visibility: visible;
                opacity: 1;
            }
        }

        @keyframes fade-out-vis {
            0% {
                visibility: visible;
                opacity: 1;
            }

            99% {
                visibility: visible;
                opacity: 0;
            }

            100% {
                visibility: hidden;
                opacity: 0;
            }
        }

        .video-modal {
            background-color: rgba(0, 0, 0, 0.9);
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
        }

        .engine-webkit .video-modal {
            background-color: unset;
            -webkit-backdrop-filter: blur(1.5rem);
            backdrop-filter: blur(1.5rem);
        }

        .is-modal-open .video-modal {
            z-index: 4;
            overflow: hidden;
            animation: fade-in-vis 200ms forwards;
            visibility: visible;
            opacity: 1;
        }

        .is-modal-closing .video-modal {
            animation: fade-out-vis 200ms forwards;
        }

        .video-modal-body-inner {
            width: 100%;
        }

        @media (min-aspect-ratio: 16/10) {
            .video-modal-body-inner {
                width: 150vh;
                max-width: 100%;
            }
        }

        .video-modal-video {
            height: 0;
            padding-bottom: 56.25%;
            position: relative;
            transform: scale(0.96);
            transition: all 200ms;
        }

        .is-modal-open .video-modal-video {
            transform: scale(1);
        }

        .video-modal-video iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .logo {
            padding-bottom: 20px;
        }
    </style>

</head>

<body>
    <div>
    <%- body %>
    </div>
    <div>
        <footer class="footer container medium-xsmall-copy line-height-1.6">
            <div class="logo">
                <h1>MyQuotly logo</h1>
            </div>
            <div class="row mb-1">

                <div class="col-6 col-lg">
                    <ul class="mb-2">
                        <div class="small-caps mb-1/3">Featured</div>

                        <li><a class="fade" href="/blog/chatgpt/">ChatGPT</a></li>

                        <li><a class="fade" href="/dall-e-2/">DALL·E 2</a></li>

                        <li><a class="fade" href="/blog/whisper/">Whisper</a></li>

                        <li><a class="fade" href="/alignment/">Alignment</a></li>

                        <li><a class="fade" href="/fund/">Startup Fund</a></li>

                    </ul>
                </div>

                <div class="col-6 col-lg">
                    <ul class="mb-2">
                        <div class="small-caps mb-1/3">API</div>

                        <li><a class="fade" href="/api/">Overview</a></li>

                        <li><a class="fade" href="/api/pricing/">Pricing</a></li>

                        <li><a class="fade" href="/api/examples/">Examples</a></li>

                        <li><a class="fade" href="/api/docs/">Docs</a></li>

                        <li><a class="fade" href="/api/policies/">Terms & Policies</a></li>

                        <li><a class="fade" href="https://status.openai.com/">Status</a></li>

                        <li><a class="fade" href="/api/login/">Log in</a></li>

                    </ul>
                </div>

                <div class="col-6 col-lg">
                    <ul class="mb-2">
                        <div class="small-caps mb-1/3">Blog</div>

                        <li><a class="fade" href="/blog/">Index</a></li>

                        <li><a class="fade" href="/blog/tags/research/">Research</a></li>

                        <li><a class="fade" href="/blog/tags/announcements/">Announcements</a></li>

                        <li><a class="fade" href="/blog/tags/events/">Events</a></li>

                        <li><a class="fade" href="/blog/tags/milestones/">Milestones</a></li>

                    </ul>
                </div>

                <div class="col-6 col-lg">
                    <ul class="mb-2">
                        <div class="small-caps mb-1/3">Information</div>

                        <li><a class="fade" href="/about/">About Us</a></li>

                        <li><a class="fade" href="/charter/">Our Charter</a></li>

                        <li><a class="fade" href="/research/">Our Research</a></li>

                        <li><a class="fade" href="/publications/">Publications</a></li>

                        <li><a class="fade" href="/newsroom/">Newsroom</a></li>

                        <li><a class="fade" href="/careers/">Careers</a></li>

                    </ul>
                </div>

            </div>
            <div class="row align-items-center mb-0.125">
                <div class="col-12 col-md mb-0.5">
                    <a class="fade" style="margin-top:1px" href="/">MyQuotly &copy; 2015–2022</a>&emsp;<wbr><a
                        class="fade" style="margin-top:1px" href="/privacy/">Privacy&nbsp;Policy</a>&emsp;<wbr><a
                        class="fade" style="margin-top:1px" href="/terms/">Terms&nbsp;of&nbsp;Use</a>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-3 mb-0.5">
                    <div class="d-block d-md-none" style="font-size:1.333333rem"> <a class="fade icon"
                            href="https://twitter.com/openai">twitter</a> &ensp; <a class="fade icon"
                            href="https://youtube.com/openai">youtube</a> &ensp; <a class="fade icon"
                            href="https://github.com/openai/">github</a> &ensp; <a class="fade icon"
                            href="https://soundcloud.com/openai_audio">soundcloud</a> &ensp; <a class="fade icon"
                            href="https://linkedin.com/company/openai">linkedin</a> &ensp; <a class="fade icon"
                            href="https://facebook.com/openai.research/">facebook</a> </div>
                    <div class="d-none d-md-block" style="font-size:1.166667rem">
                        <div class="d-flex justify-content-between"> <a class="fade icon"
                                href="https://twitter.com/openai">twitter</a> &ensp; <a class="fade icon"
                                href="https://youtube.com/openai">youtube</a> &ensp; <a class="fade icon"
                                href="https://github.com/openai/">github</a> &ensp; <a class="fade icon"
                                href="https://soundcloud.com/openai_audio">soundcloud</a> &ensp; <a
                                class="fade icon" href="https://linkedin.com/company/openai">linkedin</a> &ensp; <a
                                class="fade icon" href="https://facebook.com/openai.research/">facebook</a> </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>